<!-- ngIf hides the element if false-->
<mat-accordion multi="true" *ngIf="posts.length > 0"> <!-- you can expand more than one post at a time-->
  <mat-expansion-panel *ngFor="let post of posts"> <!--remember we export the class from post-list.compent.ts-->
    <mat-expansion-panel-header> <!-- iterates through all posts and makes as many expansion panels as needed-->
      {{post.title}}
    </mat-expansion-panel-header>
    <p>{{post.content}}</p>
    <mat-action-row>
      <button mat-button>Edit</button>
      <button mat-button>Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No Posts Added Yet!</p>
